/* Body styling */
body {
    line-height: 70px;
    font-size:   1.75em;
    text-align: center;
    height: 100%;
    background-color: lightblue;
    color: rgb(238, 5, 238);
}

/* changed the font size */
h1 {
    font-size: 2.5em;
}